<nav class="shutter-in-vertical-menu">
    <ul>
        <li class="nav-item">
            <%= link_to "Home", root_path, class:"nav-link" %>
        </li>
        <li class="nav-item">
            <%= link_to "Events", events_path, class:"nav-link" %>
        </li>
        <li class="nav-item">
            <%= link_to "Create event", new_event_path, class:"nav-link" %>
        </li>
        <li class="nav-item">
            <%= link_to "Edit user", edit_user_registration_path, class:"nav-link" %>
        </li>
        <% if user_signed_in?%>
            <li class="nav-item", style="float:right">
                <%=link_to 'Log out', destroy_user_session_path, method: :delete, class:"nav-link"%>
            </li>
        <%else%>
            <li class="nav-item", style="float:right">
                <%= link_to "Sing up", user_session_path, class: "nav-link"%> 

        <%end%>
        </li>
    </ul>
</nav>