
<%= form_with(model: @event, local: true) do |form| %>

<%# titulo %>
    <div class="field">
        <%=form.label :title %>
        <%=form.text_field :title %>
    </div>

<%# fecha %>
    <div class="field">
        <%=form.label :date%>
        <%= form.date_field :date %>
    </div>

<%# hora %>
    <div class="field">
        <%=form.label :start_time%>
        <%= form.time_field :time%>
    </div>

<%# quién organiza %>
    <div class="field">
        <%=form.label :user_name %>
        <%= form.text_field :name %>

<%# descripción %>
    <div class="field"; style= max-width:500px;>
        <%= form.label :description%> (optional)
        <%= form.rich_text_area :description%>
    </div>

<%# botón enviar %>
    <div class="field">
        <%= form.submit %>
    </div>
<%end%>