 <nav class="nav bg-light">
 <li class="nav-item">
        <%= link_to "Home", root_path, class:"nav-link" %>
</li>
</nav>

<h1>Create your event</h1>

<%= form_with(model: @event, local: true) do |form| %>
    <div><br />
        <p>Event Title</p>
        <%=form.label :title %>
        <%=form.text_field :title %>
    </div>

    <div><br />
        <p>Event Date</p>
        <%=form.label :date%>
        <%= form.date_field :date %>
    </div>

    <div><br />
        <%=form.label :start_time%>
        <%= form.time_field :time%>

    <div><br />
        <p> Ticket options </p>
        <%=form.label :ticket_title%>
        <%= form.text_field :ticket_title %>
    </div>

    <div><br />
        <%=form.label :price %>
        <%=form.text_field :price %>
        <%=form.label :num_tickets%>
        <%=form.number_field :num_tickets%>
    </div>

    <div><br />
        <p>Who organizes?</p>
        <%=form.label :name %>
        <%= form.text_field :name %>

    </div><br />
        <%=form.label :phone%>
        <%=form.text_field :phone%>
        <p>
    </div>
    
    <div><br />
        <p>
        <%= form.label :description%> (optional)
        <%= form.rich_text_area :description%>
    </div>

    <div>
        <%= form.submit %>
    </div>
<%end%> 
