<div class="large-container center-block">
  <h1> <%= @event.title %> </h1>
  <div>
    <%= @event.description %>
    <p> <strong>When?</strong> The event will be happening on <%= @event.event_date.strftime("%a, %B %d, %Y") %> at <%= @event.event_time.strftime("%H:%M%p")%>.</p>
  </div>

  <div>
    <p> Created by <%= @event.host%>, </p>
  </div>

  <div>
    <%= button_to 'Attend to event', attend_event_path(@event), method: :post, data: {confirm: "Are you sure you want to attend to #{ @event.title }?"} %>
  </div>

  <div>
    <%= link_to "Delete event", @event, method: :delete, data: { confirm: "Are you sure you want to delete #{ @event.title } event?" }%> 
  </div>
 
</div>
