<div class="container">
  <!-- Heading -->
  <h1>LOG IN</h1>

  <!-- Links -->
  <ul class="links">
    <li>
      <a href="/users/sign_in">LOG IN</a>
    </li>
    <li>
      <a href="/users/sign_up">SIGN UP</a>
    </li>
  </ul>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <!-- email input -->
    <div class="first-input input__block first-input__block">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>

    <!-- password input -->
    <div class="input__block">
      <%= f.label :password %><br />
      <%= f.password_field :password, autocomplete: "current-password" %>
    </div>

    <!-- remember checkbox -->
    <% if devise_mapping.rememberable? %>
      <div class="links">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>  
    <% end %> 

    <!-- password forget -->
    <ul class="links">
      <li>
        <a href="/users/password/new">Forgot your password?</a> 
      </li>
    </ul>

    <!-- log in button -->
      <button class="signin__btn">
        LOG IN
      </button>

    <!-- separator -->
    <div class="separator">
      <p></p>
    </div>
    
  <% end %>
    
</div>
